dash==1.18.0
dash-bootstrap-components==0.11.3
dash-core-components==1.14.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
Flask==1.1.2
Flask-Caching==1.7.1
Flask-Compress==1.5.0
jinja2<3.1.0
pandas
plotly==4.14.3
pycparser==2.20
python-dateutil==2.8.1
Werkzeug==1.0.1
itsdangerous==2.0.1