.custom-control-input {
    display: none;
}
.custom-radio .custom-control-label::before {
    display: none;
}
.custom-radio .custom-control-label::after {
    display: none;
}
.float-dropdown{
    width: 300px;
    float: left;
}
#image-coin{
    max-width: 350px;
}